
<!doctype html>
<html lang="en">
{% load staticfiles %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ blog.title }}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>


    </style>
  </head>

  <body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{% url 'home' %}">Kevin Purcell</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                  <a class="nav-item nav-link" href="https://github.com/Purcell-Kevingithub">Github</a>
                  <a class="nav-item nav-link" href="{% static 'Kevin Purcell Programming.pdf' %}">Resume</a>
                  <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
                </div>
            </div>
        </nav>
    </header>

    <main role="main" id="home">
        <div class ="container">
        <h1 class="text-center pt-3">{{ blog.title }}</h1>
        <p class="text-center">{{ blog.pub_date_pretty }} </p>
        <img src="{{ blog.image.url }}" class="img-fluid" />
        <br />
        <br />
        <p> {{ blog.body }}</p>
        </div>
    </main>
    <br/>

    <footer class="bg-dark text-white" id="contact" style="text-align: center;">
      <h5 class="text-white">Contact Information</h5>
      <hr color="white" width=10% />
      <ul class="list-inline">
        <li class="list-inline-item mb-2">
          <span class="mr-2" data-feather="mail" width="20" height="20"></span>
          kevin91purcell@gmail.com
        </li><br/>
        <li class="list-inline-item mb-2">
          <span class="mr-2" data-feather="phone" width="20" height="20"></span>
          (267) 980 7911
        </li>
        <li class="list-inline-item mb-2">
          <span class="mr-2" data-feather="map-pin" width="20" height="20"></span>
          Hamilton, NJ
        </li>
      </ul>
      <hr color="white" style="width:100%" />
        <div class="row">
        <div class="col-12 text-white text-center">
        &copy; Kevin Purcell {% now "Y" %}
        </div>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Typist/1.2/typist.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
      <script src="https://1ginterart-project.s3.amazonaws.com/static/js/scripts.js"></script>
  </body>
</html>



