<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Kevin Purcell</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- custom CSS internal -->
  <style>
  #home {
    height: 550px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .badge-primary {
    color: #ffffff;
    background-color: #6e558c;
  }

  .progress-bar {
    color: #ffffff;
    text-align: center;
    background-color: #6e558c;
  }

#carousel {
  padding-bottom: 30px;
}

#CountText {
  color: #ffee54;
}

#ProfileText {
  color: #ffb363;
}

#ProductText {
  color: #ffee54;
}

.carousel-caption {
left: 15%;
top: 60% !important;
transform: translateY(-50%);
text-align: left;
bottom: initial;
width: 400px ;
height: 200px;
}




</style>
</head>


<body>


  <!-- navbar section-->
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'home' %}">Kevin Purcell</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">
          <a class="nav-item nav-link" href="https://github.com/Purcell-Kevingithub">Github</a>
          <a class="nav-item nav-link" href="{% static 'KevinPurcellResume.pdf' %}">Resume</a>
          <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
        </div>
      </div>
    </nav>
  </header>


  <!-- background section -->
    <section class="bg-hero py-md-5 img-fluid" id="home" style="background-image: url(https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)">
      <div class="container">
        <h1 style="color:white"; class="text-center">Hi, I'm Kevin.</h1>
        <h2 style="color:white"; class ="text-center">I am a developer and welcome to my website.</h2>
        <img id="kevpic"  src="{% static 'image1.jpeg' %}" class="rounded mx-auto d-block" style="width: 250px;" />
        <div style="text-align:center">
          <a id="mailbutton" href="mailto:kevin91purcell@gmail.com"  class="btn btn-primary" >E-mail Me</a>
        </div>
      </div>
    </section>


    <!--about section-->
    <section class="py-5 bg-light" id="about">
      <div class ="container">
        <div class="row">
          <div class="col-md-7 mx-auto text-center text-dark" >
            <h1>About Me</h1>
            <hr color="black" width=20% />
            <div class="bg-primary mx-auto" ></div>
            <p class="font-weight-normal text-dark">
            I'm currently a self-taught developer based in Hamilton, NJ pursuing job opportunities. My personal philosophy is that I am a student for life and for me this means I am always learning and always aiming to better myself. In particular, I like to utilize what I learn from online courses and apply that learning to my personal projects such as making a website, writing code to convert scraped data into usable excel sheets, or writing code that aids me in my daily life like a BMI (body mass index) calculator. In brief, I am determined to join a company where I can interface my skills with other like-minded individuals and where we can grow to become something bigger than ourselves. Programming can be difficult at times with seemingly complex problems, but that feeling I get when I finally discover the solution drives me to work harder and harder.
           </p>
           <br/>
         </div>
       </div>
     </div>
   </section>


   <!--skills section-->
   <section class="py-5 container bg-white col-12" id="skills">
    <br />
    <div class="row">
      <div class="col-md-7 mx-auto text-center">
        <h1>My Skills</h1>
        <hr color="black" width=10% />
        <div class="divider bg-primary mx-auto"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">Python <span class="badge badge-primary float-right">70%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">Django <span class="badge badge-primary float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">Bootstrap <span class="badge badge-primary float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">HTML <span class="badge badge-primary float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">CSS <span class="badge badge-primary float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">Postgres <span class="badge badge-primary float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">JavaScript <span class="badge badge-primary float-right">25%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 25%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">GIT <span class="badge badge-primary float-right">70%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">SQL <span class="badge badge-primary float-right">40%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto">
      <div class="skill-name">Command Line <span class="badge badge-primary float-right">60%</span></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    <br />
    <br />
  </section>


  <!--Education -->
<section class="py-5 bg-dark" id="education">
  <div class="container">
    <div class="col-md-7 mx-auto text-center text-white" >
            <h1>Education</h1>
            <hr color="white" width=20% />
    </div>
    <br/>

    <div class="card-deck">
        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Temple University</h4>
                <span class="text-muted font-weight-bold">2009 &mdash; 2013 <br/>Bachelor of Arts<br/> in Psychology<br/>Philadelphia, PA</span>

                <p class="card-text">
                    <br/>While I may not be working in the field where I completed my degree, I do take pride that I finished in 4 years while also studying abroad in Japan for 6 months.
                </p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Self-Taught</h4>
                <span class="text-muted font-weight-bold">May 2018 &mdash; Current <br/> Online </span>
                <p class="card-text">
                    <br/>I have received certificates of completion from Udacity's, Codecademy's, and Udemy's courses. The courses covered:<br/></p>
                <p class="text-center">Python, Javascript,<br/>HTML and CSS, <br/>Django Web Frameworks, Bootstrap,<br/> PostGres, Digital Ocean,<br/> Git, and the command line.<br/><br/> Please see my personal resume for further details.
                </p>
            </div>
        </div>

        <div class="card text-center">
            <div class="card-block">
                <h4 class="card-title">Future Plans</h4>
                <p class="card-text ">
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                    I am aiming to further solidify the skills I learned from previous courses as well as take courses covering other techonolgies. I am interested in learning:
                    Flask Framework,
                    Implementing REST API's,
                    Docker, MongoDB, and Tensorflow.
                </p>
            </div>
        </div>
    </div>




  </div>
</section>


<!--MY CAROUSEL-->
<section class="py-5 container bg-white" id="carouselmain" >
  <h1 class="text-center"> My Websites</h1>
  <hr color="black" width=18% />
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carousel" data-slide-to="0" class="active"></li>
      <li data-target="#carousel" data-slide-to="1"></li>
      <li data-target="#carousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="{% static 'WordCount.png' %}" alt="First slide">
          <div class="carousel-caption text-left" id="CountText">
            <div class="container text-center">
              <div class="row bg-dark col-5">
                <h3 class="lead font-weight-bold text-center"><u>Website Description:</u></h3>
                <p class="lead font-italic">Generates most used words as a list.</p>
              </div>
             </div>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'KevWebsite.png' %}" alt="Second slide">
          <div class="carousel-caption text-left" id="ProfileText">
            <div class="container text-center">
              <div class="row bg-light col-5">
                <h6 class="lead font-weight-bold text-center"><u>Website Description:</u></h6>
                <p class="lead font-italic">Showcases my work and skills.</p>
              </div>
            </div>
          </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="{% static 'ProductClone.png' %}" alt="Third slide">
          <div class="carousel-caption" id="ProductText">
            <div class="container text-center">
              <div class="row bg-dark col-5">
                <h3 class="lead font-weight-bold text-center"><u>Website Description:</u></h3>
                <p class="lead font-italic">A clone website of ProductHunt or Reddit.</p>
              </div>
            </div>
          </div>
      </div>
    </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </section>


  <!-- Blogs section -->
  <section class="py-5 container bg-light col-12" id="Blogs">
      <div class="container">
        <h1 class="text-center"> My Blogs</h1>
        <hr color="black" width=13% />
        <div class="row">
          {% for job in jobs.all %}
          <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
              <a href="{% url 'allblogs' %}">
              <img class="card-img-top" src="{{ job.image.url }}" height=200 width=300></img>
              </a>
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>


  <!-- footer-->
  <footer class="bg-dark text-white" id="contact" style="text-align: center;">
      <h5 class="text-white">Contact Information</h5>
      <hr color="white" width=10% />
      <ul class="list-inline">
        <li class="list-inline-item mb-2">
          <span class="mr-2" data-feather="mail" width="20" height="20"></span>
          kevin91purcell@gmail.com
        </li><br/>
        <li class="list-inline-item mb-2">
          <span class="mr-2" data-feather="phone" width="20" height="20"></span>
          (267) 980 7911
        </li>
        <li class="list-inline-item mb-2">
          <span class="mr-2" data-feather="map-pin" width="20" height="20"></span>
          Hamilton, NJ
        </li>
      </ul>
    </div>
  </div>
  <hr color="white" style="width:100%" />
  <div class="row">
    <div class="col-12 text-white text-center">
      &copy; Kevin Purcell {% now "Y" %}
    </div>
  </div>
  </div>
  </footer>

    <!-- Bootstrap core JavaScript
      ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.5.0/feather.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Typist/1.2/typist.min.js"></script>
      <script src="https://1ginterart-project.s3.amazonaws.com/static/js/scripts.js"></script>
</body>
</html>

