<!doctype html>
<html lang="en">
{% load staticfiles %}
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Kevin Purcell</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <!-- custom CSS internal -->
  <style>

  body {
    padding-top: 30px;
  }


  .badge-primary-web {
    color: #ffffff;
    background-color: #6e558c;

  }

  .progress-bar-web {
    color: #ffffff;
    text-align: center;
    background-color: #6e558c;
  }

  .badge-primary-languages {
    color: #ffffff;
    background-color: #4f97b3
  }

  .progress-bar-languages {
    color: #ffffff;
    text-align: center;
    background-color: #4f97b3
  }


  .badge-primary-framework {
    color: #ffffff;
    background-color: #7565e3;
  }

  .progress-bar-framework {
    color: #ffffff;
    text-align: center;
    background-color: #7565e3;
  }

  .badge-primary-connections {
    color: #ffffff;
    background-color: #6780ff
  }

  .progress-bar-connections {
    color: #ffffff;
    text-align: center;
    background-color: #6780ff
  }

  .badge-primary-misc {
    color: #ffffff;
    background-color: #392691;
  }

  .progress-bar-misc {
    color: #ffffff;
    text-align: center;
    background-color: #392691;
  }


  .lucida {
    font-family: Lucida Console;
  }

  .card-bg-1 {
    background-color: #4f97b3;
  }

  .card-bg-2 {
    background-color: #6e558c;
  }

  .card-bg-3 {
    background-color: #6780ff;
  }

  .card-title-first {
    color: #ffffff;
  }

  .card-title-second {
    color: #cfcbc8;
  }

  .card-title-third {
    color: #ffffff;
  }

  .footer-color-phone {
    background-color: #4f97b3;
    border-style: solid;
  }

  .footer-color-email {
    background-color: #6e558c;
    border-style: solid;
  }

  .footer-color-location {
    background-color: #6780ff;
    border-style: solid;
  }

  #home {
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #carouselmain {
  padding-bottom: 30px;
  width: 60%;
  height: auto;
  }

  #CountText {
    color: #ffee54;
  }

  #ProfileText {
    color: #ffb363;
  }

  #ProductText {
    color: #ffee54;
  }

  #about{
    font-weight: normal;
  }

  #skills {
    font-weight: bold;
  }

  #slide-description-titles {
    color: #4f97b3
  }

  #app-description-titles {
    color: #4f97b3;
  }

  #sample-title {
    color: #6780ff;
  }

  #app-title {
    color: #6780ff;
  }


</style>
</head>


<body>
  <!-- navbar section-->
  <header>
    <div class="container-fluid col-sm-12">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
        <a class="navbar-brand lucida" href="{% url 'home' %}">Kevin Purcell</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto lucida">
            <a class="nav-item nav-link active" href="{% url 'home' %}">Home</a>
            <a class="nav-item nav-link" href="https://github.com/Purcell-Kevingithub">Github</a>
            <a class="nav-item nav-link" href="{% static 'KevinPurcellResume.pdf' %}">Resume</a>
            <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>
          </div>
        </div>
      </nav>
    </div>
  </header>


  <!-- background section -->
    <section class="py-5 img-fluid lucida" id="home" style="background-image: url(https://images.pexels.com/photos/370799/pexels-photo-370799.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)">
      <div class="container">
        <h1 style="color:white"; class="text-center">Hi, I'm Kevin.</h1>
        <h2 style="color:white"; class ="text-center">I am a developer and welcome to my website.</h2>
        <img id="kevpic"  src="{% static 'image1.jpeg' %}" class="rounded mx-auto d-block" style="width: 250px;" />
        <div style="text-align:center">
          <a id="mailbutton" href="mailto:kevin91purcell@gmail.com"  class="btn btn-primary" >E-mail Me</a>
        </div>
      </div>
    </section>


    <!--about section-->
    <section class="py-5 bg-light lucida" id="about">
      <div class ="container">
        <div class="row">
          <div class="col-md-12 mx-auto text-center text-dark" >
            <h1>About Me</h1>
            <hr color="black" width=15% />
            <div class="bg-primary mx-auto col-mb-3" ></div>
            <p class="text-dark text-left" style="text-indent: 7em;">
              I'm a self-taught developer based in Hamilton, NJ currently pursuing an entry level developer position. My personal philosophy is that I am a student for life and for me this means always searching for learning opportunities. After realizing I was unhappy with my current job direction, I began searching for a new career path that would allow me to exercise my philosophy more often. After running my first program, I knew I had found the right path.
            </p>
            <p class=" text-dark text-left" style="text-indent: 7em;">
              The first couple of projects I created were simple ranging from a Body Mass Index calculator to a web scraper. Since then, I have transitioned to more complex apps such as my personal website, a weather based app connected to a geolocation API and a weather API, and more recently a chat-app where the users can join private chat rooms.
            </p>
            <p class="text-dark text-left" style="text-indent: 7em;">
              Ultimately, I am determined to join a company where I can synthesize my skills with other like-minded individuals to create remarkable code. Programming can be difficult at times with seemingly complex problems, but the feeling of success when discovering a solution drives me to work harder and harder.
           </p>
           <br/>
         </div>
       </div>
     </div>
   </section>


   <!--skills section-->
   <section class="py-5 container bg-white col-12 lucida" id="skills">
    <br />
    <div class="row">
      <div class="col-md-7 mx-auto text-center">
        <h1>My Skills</h1>
        <hr color="black" width=15% />
        <div class="divider bg-primary mx-auto"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">JavaScript <span class="badge badge-primary-languages float-right">70%</span></div>
      <div class="progress">
        <div class="progress-bar-languages progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">Python <span class="badge badge-primary-languages float-right">70%</span></div>
      <div class="progress">
        <div class="progress-bar-languages progress-bar-striped progress-bar-animated" role="progressbar" style="width: 70%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1 pb-1">
      <div class="skill-name">NodeJS <span class="badge badge-primary-framework float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar-framework progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">React <span class="badge badge-primary-framework float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar-framework progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">Django <span class="badge badge-primary-framework float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar-framework progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">HTML <span class="badge badge-primary-web float-right">60%</span></div>
      <div class="progress">
        <div class="progress-bar-web progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">CSS <span class="badge badge-primary-web float-right">60%</span></div>
      <div class="progress">
        <div class="progress-bar-web progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">Bootstrap <span class="badge badge-primary-web float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar-web progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="55"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">jQuery <span class="badge badge-primary-web float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar-web progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>


    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">Express <span class="badge badge-primary-connections float-right">40%</span></div>
      <div class="progress">
        <div class="progress-bar-connections progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">SocketIO <span class="badge badge-primary-connections float-right">40%</span></div>
      <div class="progress">
        <div class="progress-bar-connections progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">Postman <span class="badge badge-primary-connections float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar-connections progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">Mocha <span class="badge badge-primary-connections float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar-connections progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">MongoDB/SQL/PostGres <span class="badge badge-primary-misc float-right">40%</span></div>
      <div class="progress">
        <div class="progress-bar-misc progress-bar-striped progress-bar-animated" role="progressbar" style="width: 40%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">Heroku/Digital Ocean <span class="badge badge-primary-misc float-right">50%</span></div>
      <div class="progress">
        <div class="progress-bar-misc progress-bar-striped progress-bar-animated" role="progressbar" style="width: 50%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">Command Line <span class="badge badge-primary-misc float-right">60%</span></div>
      <div class="progress">
        <div class="progress-bar-misc progress-bar-striped progress-bar-animated" role="progressbar" style="width: 60%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <div class="skill col-md-8 mx-auto pb-1">
      <div class="skill-name">GIT <span class="badge badge-primary-misc float-right">75%</span></div>
      <div class="progress">
        <div class="progress-bar-misc progress-bar-striped progress-bar-animated" role="progressbar" style="width: 75%" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>

    <br />
    <br />
  </section>


  <!--Education -->
<section class="py-5 bg-dark lucida" id="education">
  <div class="container">
    <div class="col-md-12 text-center text-white lucida">
            <h1>Education</h1>
            <hr color="white" width=15% />
    </div>
    <br/>

<div class="container">
  <div class="row">
    <div class="card-deck col-xl-4">
        <div class="card text-center card-bg-1 py-5 mt-4" id="card-setting">
            <div class="card-block">
                <h4 class="card-title card-title-first">Temple University</h4>
                <span class="font-weight-bold card-title-second">2009 &mdash; 2013 <br/>Bachelor of Arts<br/> in Psychology<br/>Philadelphia, PA</span>

                <p class="card-text text-left pl-4 card-title-third">
                    <br/>I finished my degree in 4 years while also studying abroad in Japan for 6 months. I use my degree to apply critical thinking to my code.
                </p>
            </div>
        </div>
    </div>

    <div class="card-deck col-xl-4">
        <div class="card text-center card-bg-2 py-5 mt-4" id="card-setting">
            <div class="card-block">
                <h4 class="card-title card-title-first">Self-Taught</h4>
                <span class="font-weight-bold card-title-second">May 2018 &mdash; Current <br/> Online </span>
                <p class="card-text text-left pl-4 card-title-third">
                    <br/>I have received certificates of completion from Udacity's, Codecademy's, and Udemy's courses. The courses covered:<br/></p>
                <p class="text-left pl-4 card-title-third">
                  Coding languages, web design, API's, single page applications, frameworks, libraries, routing, databases, models, views, servers, testing, debugging, packages, version control, command line, and code editors.
                </p>
            </div>
        </div>
      </div>

      <div class="card-deck col-xl-4">
        <div class="card text-center card-bg-3 py-5 mt-4" id="card-setting">
            <div class="card-block">
                <h4 class="card-title card-title-first">Future Plans</h4>
                <p class="card-text text-left pl-4 card-title-third">
                  <br/>
                  <br/>
                  <br/>
                  <br/>
                    I am planning to explore in the future:
                    Wireframes, VueJS, PHP, .Net Core, and C#.
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>


  </div>
</section>


<!--MY Projects -->
<section class="py-5 container-fluid col-12 bg-white lucida">
  <h1 class="text-center"> My Projects </h1>
  <hr color="black" width=10% />
  <div class="row">

    <div class="container col-lg-6 text-center py-2">
      <h2 id="sample-title"> Sample Websites</h2>
      <div id="carousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel" data-slide-to="0" class="active"></li>
          <li data-target="#carousel" data-slide-to="1"></li>
          <li data-target="#carousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100" src="{% static 'WordCount.png' %}" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'KevWebsite.png' %}" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block w-100" src="{% static 'productclone3.PNG' %}" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="container text-left py-2 mt-5">
        <h5 id="slide-description-titles">Slide 1</h5>
        <p style="font-weight: bold;">This website accepts any amount of text as input and returns a list of the most used words.</p>
        <h5 id="slide-description-titles">Slide 2</h5>
        <p style="font-weight: bold;">A website that highlights my skills, project, and education.</p>
        <h5 id="slide-description-titles">Slide 3</h5>
        <p style="font-weight: bold;">This website is designed to mimic popular websites like ProductHunt or Reddit. This website has features like up voting as well as authentication for logging in.</p>
      </div>
    </div>

    <div class="container col-lg-6 py-2">
      <h2 class="text-center" id="app-title"> Apps </h2>
      <h5 id="app-description-titles">Chat Room App</h5>
      <h6 style="font-weight: bold;">(Open multiple window tabs to experience the chat app.)</h6>
      <a href="https://floating-forest-16784.herokuapp.com/">https://floating-forest-16784.herokuapp.com/</a>
      <br/>
      <br/>
      <h5 id="app-description-titles">To-do App</h5>
      <h6 style="font-weight: bold;">(Requires Postman to interact with JSON objects and data.)</h6>
      <a href="https://shrouded-eyrie-15738.herokuapp.com/">https://shrouded-eyrie-15738.herokuapp.com/</a>
      <br/>
      <br/>

      <h5 id="app-description-titles">Weather App</h5>
      <h6 style="font-weight: bold;">(Requires command line input to retrieve weather forecast.)</h6>
      <a href="https://github.com/Purcell-Kevingithub/Node-Weather-App">https://github.com/Purcell-Kevingithub/Node-Weather-App</a>
    </div>

  </div>
</section>


  <!-- Blogs section -->
  <section class="py-5 container-fluid bg-light col-12 lucida" id="Blogs">
      <div class="container">
        <h1 class="text-center lucida"> My Blogs</h1>
        <hr color="black" width=13% />
        <div class="row">
          {% for job in jobs.all %}
          <div class="col-md-4">
            <div class="card my-4 shadow-sm">
              <a href="{% url 'allblogs' %}">
              <img class="card-img-top" src="{{ job.image.url }}" height=200 width=300></img>
              </a>
              <div class="card-body">
                <p class="card-text">{{ job.summary }}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </section>


  <!-- footer-->
  <footer class="bg-dark text-white lucida py-3" id="contact">
    <div class="container-fluid col-12">
      <div class="col-12 text-center">
        <h5>Contact Information</h5>
      </div>
      <div class="row text-center">
        <p class="col-md-4 footer-color-email py-2" style="margin: 0px;"><img src="{% static 'email.svg' %}"height=50 width=50/><br/>kevin91purcell@gmail.com</p>
        <p class="col-md-4 footer-color-phone py-2" style="margin: 0px;"><img src="{% static 'iphone.svg' %}" height=50 width=50/><br/>(267) 980 7911</p>
        <p class="col-md-4 footer-color-location py-2" style="margin: 0px;"><img src="{% static 'location.svg' %}" height=50 width=50/><br/>Hamilton, NJ <p>
      </div>
      <div class="row">
        <div class="col-12 text-center pt-3">
          <h4>&copy; Kevin Purcell {% now "Y" %}</h4>
        </div>
      </div>
    </div>
  </footer>


      <!-- Placed at the end of the document so the pages load faster -->
      <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
</body>
</html>
